body{
  background-image: url(../imagens/bg.jpg);
}

header{
  background-image: linear-gradient(#ffffff, #555555);
  height: 100px;
}

header h1{
  font-size: 40px;
  font-family: arial;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 30px;
}

#form{
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

fieldset{
  width: 600px;
  padding: 10px;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  border: 3px dotted grey;
  box-shadow: 4px 4px 2px 1px grey;
}

input[type="text"]{
  width: 200px;
  padding: 5px;
  margin: 5px;
}

button{
  width: auto;
  margin: 0 auto;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;
  flex-direction: column;
  font-family: arial;
  font-size: 15px;
  background: black;
  color: white;
  border: outset black 3px;
}
